<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-transform: uppercase;text-align: center;">
      MY PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <!-- <ion-list-header > -->
      <h5 style="text-transform: uppercase;text-align: center; color:#ff73bb;">Upcoming Appointments</h5>
     
        <ion-list style="text-align: center;">
          <ion-button color='secondary' routerLink="/newapp" routerDirection="root" >Book an Appointment</ion-button>
        </ion-list>
    
    <!-- </ion-list-header> -->
  <!-- loop through json data -->
    <ion-item *ngFor='let x of appointments'>
      <ion-avatar slot="start">
        <img src="./assets/app.jpg">
      </ion-avatar>
      <ion-label>
        <h2>PATIENT: {{x.user}}</h2>
        <h3>TICKET NO #{{x.id}}</h3>
        <!-- <h3>DUE ON : DATE GOES HERE</h3> -->
        <h3>HOSPITAL: KENYATTA</h3>
        <p>{{x.description}}</p>
        <!-- todo later edit and delete buttons -->
      </ion-label>
      <br>
      <br>
      <br>
    </ion-item>
  </ion-list>
</ion-content>
