<ion-header>
  <ion-toolbar>
    <ion-title style="text-transform: uppercase; text-align: center;">dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <!-- <img src="./assets/avatar.jpg" /> -->
    <ion-card-header>
      <ion-card-subtitle>Welcome!</ion-card-subtitle>
      <ion-card-title>{{account.username}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     {{account.email}}
     <br>
     <ion-button color='danger' (click)="logoutClicked()">Log Out</ion-button>
     <ion-button color='secondary' (click)="logoutClicked()">Appointments</ion-button>
     <ion-button color='success' (click)="logoutClicked()">Chat With Bot</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content>


  <p>
    Welcome {{ account.username }}
  </p>
  
  <button class="btn btn-primary btn-block" mat-ripple mat-raised-button (click)="logoutClicked()"  id="logoutBtn"
      color="accent">Logout</button><br>
  
</ion-content> -->
